@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.text_logo {
    font-family: "Caveat", cursive;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.4s ease forwards;
}

